.tx-sparql-toucan {
    height:100%;
    overflow-y: scroll;
}

table.tx_sparkletoucan {
    font-family: 'Noto Sans', sans-serif, Verdana;
    color: #DDDDDD;
}

html {
    overflow: auto;
}
body {
    height: auto;
    min-height: 100%;
    overflow: visible;
    font-family: 'Noto Sans', sans-serif, Verdana;
}