<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Collection</h1>

<f:flashMessages />

<table  class="tx_sparqltoucan" >
	<tr>
		<th><f:translate key="tx_sparqltoucan_domain_model_collection.name" /></th>
		<th><f:translate key="tx_sparqltoucan_domain_model_collection.layout" /></th>
		<th><f:translate key="tx_sparqltoucan_domain_model_collection.style_override" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{collections}" as="collection">
		<tr>
			<td><f:link.action action="show" arguments="{collection : collection}"> {collection.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{collection : collection}"> {collection.layout}</f:link.action></td>
			<td><f:link.action action="show" arguments="{collection : collection}"> {collection.styleOverride}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{collection : collection}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{collection : collection}">Delete</f:link.action></td>
		</tr>
		</f:for>
</table>

<f:link.action action="new">New Collection</f:link.action>
	</f:section>
</html>