<!--suppress BuyFluidPluginNoteInspection -->
<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">

    <link href="{f:uri.resource(path: 'Css/CollectionEntry.css')}" rel="stylesheet"/>

    <h2>[DEBUG]Collektion: "{collection.name}"</h2>
    <div style="display: grid">
        <f:for each="{entries}" as="gridElement">
            <div style="display: inline-grid; grid-area: {gridElement.gridArea};" class="{gridElement.style}">{gridElement.tempValue -> f:format.nl2br()}</div>
        </f:for>
    </div>

</f:section>

<!-- things that work only in typo V8.7+ -->
<f:section name="FooterAssets">
    <link rel="stylesheet" href="{f:uri.resource(path:'Css/CollectionEntry.css')}"/>
</f:section>

</html>