<!--suppress BuyFluidPluginNoteInspection -->
<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">

    <h2>Kollektion: "{collection.name}"</h2>
    <f:if condition="{collection.layout}==1">
        <f:render partial="CollectionDisplay/1row" arguments="{cEntries:entries}" />
    </f:if>
    <f:if condition="{collection.layout}==2">
        <f:render partial="CollectionDisplay/2row" arguments="{cEntries:entries}" />
    </f:if>
    <f:debug>{_all}</f:debug>

    <f:if condition="exceptions">
        <pre>
            <f:for each="exceptions" as="e">
                ({e.code}) {e.message}\n
            </f:for>
        </pre>
    </f:if>

</f:section>

<f:section name="FooterAssets">
    <link rel="stylesheet" href="{f:uri.resource(path:'Css/CollectionEntry.css')}"/>
</f:section>

</htm