<!--suppress BuyFluidPluginNoteInspection -->
<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">

    <h2>Kollektion: "{collection.name}"</h2>
    <f:if condition="{collection.layout}==1">
        <f:render partial="Front/1row" arguments="{entries:entries}" />
    </f:if>
    <f:if condition="{collection.layout}==2">
        <f:render partial="Front/2row" arguments="{entries:entries}" />
    </f:if>
</f:section>
</htm