<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <table class="tx_sparqltoucan">

        <table class="tx_sparqltoucan_paginator_table">
            <tr>
                <th>Datapoint</th>
                <th>Source</th>
                <th>Language</th>
                <th>Label</th>
            </tr>
            <f:for each="{Languagepoints}" as="point">
                <tr>
                    <td class="tx-sparql-toucan_mini_id">{point.datapointId.uid}</td>
                    <td>{point.datapointId.name}</td>
                    <td>{point.datapointId.sourceId.name}</td>
                    <td><span class="tx_toucan_language_block">{point.language}</span></td>
                    <td>{point.content}</td>
                </tr>
            </f:for>
        </table>

    </table>

</html>