<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-sparql-toucan" >
	<tr>
		<td>
			<f:translate key="tx_sparqltoucan_domain_model_collectionentry.name" />
		</td>
		<td>
			{collectionEntry.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sparqltoucan_domain_model_collectionentry.gridcolumn" />
		</td>
		<td>
			{collectionEntry.gridColumn}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sparqltoucan_domain_model_collectionentry.gridRow" />
		</td>
		<td>
			{collectionEntry.gridRow}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sparqltoucan_domain_model_collectionentry.style" />
		</td>
		<td>
			{collectionEntry.style}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sparqltoucan_domain_model_collectionentry.style_name" />
		</td>
		<td>
			{collectionEntry.styleName}
		</td>
	</tr>
</table>
</html>