<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="name">
	<f:translate key="tx_sparqltoucan_domain_model_datapoint.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="sourceID">
	i18n:SourceID
</label><br />
	<f:form.select property="sourceId" options="{sources}" optionValueField="uid" optionLabelField="name" value="{sourceId}"/></br>
<label for="subject">
	<f:translate key="tx_sparqltoucan_domain_model_datapoint.subject" />
</label><br />
	<f:form.textfield property="subject" value="{subject}"/><br />
<label for="predicate">
	<f:translate key="tx_sparqltoucan_domain_model_datapoint.predicate" />
</label><br />
	<f:form.textfield property="predicate" value="{predicate}"/><br/>
<label for="mode">
	<f:translate key="tx_sparqltoucan_domain_model_datapoint.mode" />
</label><br />
	<f:form.textfield property="mode" /><br />
<label for="autoUpdate">
	<f:translate key="tx_sparqltoucan_domain_model_datapoint.auto_update" />
</label><br />
	<f:form.checkbox name="autoUpdate" property="autoUpdate" value="1" checked="{autoUpdate.value} == 1"/><br />
</html>