:root {
    --tou_white: #f6f6f6;
    --tou_black: #0F1118;
    --tou_orange: #F88A19;
    --tou_red: #DA0000;
    --tou_blue: #0D2EA7;
    --tou_darkblue: #091d6a;
    --tou_lightyellow: #f4f697;
    --tou_purplered: #C93A82;
    --tou_lightgrey: #d4d3d3;
    --tou_darkgrey: #4c4c4c;
    --tou_purewhite: #FFFFFF;

    --tou_teletext: "Fira Code", "Courier New", "monospace", "Courier" ;
    --tou_impact: Impact, "Coda Heavy","Impacted";
}

.tx-sparql-toucan {
    margin-left: 1em;
    margin-top: 1em;
}

table.tx_sparqltoucan {
    font-family: 'Noto Sans', sans-serif, Verdana;
}
table.tx_sparqltoucan th {
    padding: 0em 1em;
    border-bottom: 1px solid var(--tou_lightyellow);
}
table.tx_sparqltoucan th, td {
    vertical-align: top;
}
table.tx_sparqltoucan td:not(:last-child) {
    border-right: 1px solid var(--tou_lightgrey);
    padding: 0.25em 0.25em;
}

table.tx_sparqltoucan_explorer_tr tr {
    border-bottom: 2px solid var(--tou_purplered)
}

html {
    overflow: auto;
}
body {
    height: auto;
    min-height: 100%;
    overflow: visible;
    background-color: var(--tou_white);
    color: var(--tou_black);
}
a {
    color: var(--tou_blue);
    font-weight: bold;
}
a:hover {
    color: var(--tou_orange)
}
a:focus:before {
    content: "[";
}
a:focus:after {
    content: "]";
}
a.tx_sparqltoucan_srslink {
    color: var(--tou_purplered);
    font-weight: normal;
}
a.tx_sparqltoucan_srslink:hover {
    color: var(--tou_orange)
}
a.tx_sparqltoucan_fatlink {
    font-size: 1.5em;
}

h1 {font-size: 4.5rem;}
h2 {font-size: 2.0rem;}
h3 {font-size: 1.6rem}
h4 {font-size: 1.4rem}
h5 {font-size: 1.2rem}
h6 {font-size: 1.0rem}

h1, h2, h3, h4, h5, h6 { color: var(--tou_red); font-weight: bold;}

.tx_sparqltoucan_monospaced {
    font-family: var(--tou_teletext) ;
}

.tx_sparqltoucan_teletext {
    font-family: var(--tou_teletext);
    font-size: 0.85rem;
    letter-spacing: -0.05rem;
}

.tx_sparqltoucan_errortext {
    color: var(--tou_red);
    font-weight: bolder;
    font-size: 1.8rem;
    font-family: var(--tou_impact);
}

.tx_sparqltoucan_maxwidthblock {
    max-width: 75rem;
}

div.tx_sparqltoucan_central {
    width: 60%;
    margin: auto;
    background: var(--tou_lightyellow);
    border-radius: 2em;
    padding: 2em;
}

.tx_toucan_language_block {
    display: inline-block;
    font-weight: bolder;
    border: 1px solid var(--tou_black);
    font-size: 0.8rem;
    font-family: "Courier 10 Pitch", monospace;
    padding: 0.05rem 0.2rem
}

div.tx_sparqltoucan_submenu {
    background: var(--tou_lightgrey);
    padding-left: 1rem;
}

div.tx_sparqltoucan_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 2px 0 2rem;
    overflow: hidden;

}

div.tx_sparqltoucan_menu ul li {
    float: left;
    rem: 1.5rem;
    margin-right: -2px;
    margin-top: -2px;
    padding: 0.25rem 0.75rem;
    display: inline-block;
    font-size: 18px;
    border: 2px solid var(--tou_black);
    background-color: var(--tou_lightyellow);

}

div.tx_sparqltoucan_menu ul li:hover {
    background-color: var(--tou_purplered);
    color: var(--tou_white);
    border: 2px solid var(--tou_orange);
}

div.tx_sparqltoucan_menu ul li:hover a {
    color: var(--tou_white);
    text-decoration: none;
    display: inline-block;
}

ul.f3-widget-paginator {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.f3-widget-paginator li {
    float: left;
    margin: 0.25rem;
}

ul.f3-widget-paginator li.current {
    display: inline-block;
    border: 1px solid var(--tou_red);
    background-color: var(--tou_red);
    color: var(--tou_white);
    padding: 0.25rem 0.75rem;
    font-size: 1.2rem;
    font-weight: bolder;
}

ul.f3-widget-paginator li a {
    display: inline-block;
    border: 1px solid var(--tou_black);
    color: var(--tou_black);
    padding: 0.25rem 0.75rem;
    font-size: 1.2rem;
    font-weight: bolder;
}

ul.f3-widget-paginator li a:hover {
    text-decoration: none;
    background-color: var(--tou_orange);
    color: var(--tou_white);
}

table.tx_sparqltoucan_paginator_table th {
    background-color: var(--tou_darkblue);
    color: var(--tou_purewhite);
    padding: 0.5rem;
}

table.tx_sparqltoucan_paginator_table tr td {
    padding: 0.1rem 0.75rem;
    font-size: 1rem;
}

table.tx_sparqltoucan_paginator_table tr.tx_sparqltoucan_table_temp td {
    font-style: italic;
    color: var(--tou_darkgrey);
}

table.tx_sparqltoucan_paginator_table tr:hover, table.tx_sparqltoucan_paginator_table tr.tx_sparqltoucan_table_temp:hover td {
    background: var(--tou_blue);
    color: var(--tou_purewhite);
}

table.tx_sparqltoucan_paginator_table tr:hover a {
    color: var(--tou_red);
}

.tx-sparql-toucan.mini_id {
    font-size: 0.8rem;
    color: var(--tou_lightgrey);
}

div.tx_sparqltoucan_formworld {
    width: 41rem;
}

div.tx_sparqltoucan_formworld label {
    display: block;
}

div.tx_sparqltoucan_formworld input, div.tx_sparqltoucan_formworld select {
    margin-left: 2rem;
}
div.tx_sparqltoucan_formworld input[type="submit"] {
    margin: 2rem auto;
    display: block;
}

div.tx_sparqltoucan_formworld input:before, div.tx_sparqltoucan_formworld select:before {
    white-space: pre;
    content: "\A";
}

div.tx_sparqltoucan_formworld input[type="submit"]:before {
    white-space: pre-line;
    content: "\A";
}

div.tx_sparqltoucan_formworld .additional_data {
    font-size: 1rem;
    color: var(--tou_darkgrey);
    margin-left: 2rem;
}

.tx_sparqltoucan_interactive_button {
    display: inline-block;
    min-width: 20rem;
    min-height: 3rem;
    margin: auto;
    font-size: 1.8rem;
}

.tx_sparqltoucan_float_right {
    float: right;
}

.tx_sparqltoucan_layouter {
    display: grid;
    grid-gap: 1rem;
    border-top: 4px crimson solid;
    margin-right: auto;
    width: 700px;
}

.tx_sparqltoucan_layouter div,
.tx_sparqltoucan_layouter_free div{
    outline: 1px var(--tou_lightgrey) solid;
    width: 250px;
    height: 30px;
    overflow: hidden;
}
