:root {
    --tou_white: #f6f6f6;
    --tou_black: #0F1118;
    --tou_orange: #F88A19;
    --tou_red: #DA0000;
    --tou_blue: #0D2EA7;
    --tou_darkblue: #091d6a;
    --tou_lightyellow: #f4f697;
    --tou_purplered: #C93A82;
    --tou_lightgrey: #d4d3d3;
    --tou_darkgrey: #4c4c4c;
    --tou_purewhite: #FFFFFF;
}

.tx-sparql-toucan {
    height: 800px; /*Change this, only for debugging*/
    overflow-y: scroll;
    margin-left: 1em;
    margin-top: 1em;
}

table.tx_sparqltoucan {
    font-family: 'Noto Sans', sans-serif, Verdana;
}
table.tx_sparqltoucan th {
    padding: 0em 1em;
    border-bottom: 1px solid var(--tou_lightyellow);
}
table.tx_sparqltoucan th, td {
    vertical-align: top;
}
table.tx_sparqltoucan td:not(:last-child) {
    border-right: 1px solid var(--tou_lightgrey);
    padding: 0.25em 0.25em;
}

html {
    overflow: auto;
}
body {
    height: auto;
    min-height: 100%;
    overflow: visible;
    background-color: var(--tou_white);
    color: var(--tou_black);
}
a {
    color: var(--tou_blue);
    font-weight: bold;
}
a:hover {
    color: var(--tou_orange)
}
a:focus:before {
    content: "[";
}
a:focus:after {
    content: "]";
}
a.tx_sparqltoucan_srslink {
    color: var(--tou_purplered);
    font-weight: normal;
}
a.tx_sparqltoucan_srslink:hover {
    color: var(--tou_orange)
}
a.tx_sparqltoucan_fatlink {
    font-size: 1.5em;
}

h1 {font-size: 4.5rem;}
h2 {font-size: 2.0rem;}
h3 {font-size: 1.6rem}
h4 {font-size: 1.4rem}
h5 {font-size: 1.2rem}
h6 {font-size: 1.0rem}

h1, h2, h3, h4, h5, h6 { color: var(--tou_red); font-weight: bold;}

div.tx_sparqltoucan_central {
    width: 60%;
    margin: auto;
    background: var(--tou_lightyellow);
    border-radius: 2em;
    padding: 2em;
}

div.tx_sparqltoucan_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

div.tx_sparqltoucan_menu ul li {
    float: left;
    rem: 1.5rem;
    margin: 0.25rem;
    padding: 0.25rem 0.75rem;
    display: inline-block;
    font-size: 18px;
    border: 2px solid var(--tou_black);
    background-color: var(--tou_lightyellow);
}

div.tx_sparqltoucan_menu ul li:hover {
    background-color: var(--tou_purplered);
    color: var(--tou_white);
    border: 2px solid var(--tou_orange);
}

div.tx_sparqltoucan_menu ul li:hover a {
    color: var(--tou_white);
    text-decoration: none;
    display: inline-block;
}

ul.f3-widget-paginator {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.f3-widget-paginator li {
    float: left;
    margin: 0.25rem;
}

ul.f3-widget-paginator li.current {
    display: inline-block;
    border: 1px solid var(--tou_red);
    background-color: var(--tou_red);
    color: var(--tou_white);
    padding: 0.25rem 0.75rem;
    font-size: 1.2rem;
    font-weight: bolder;
}

ul.f3-widget-paginator li a {
    display: inline-block;
    border: 1px solid var(--tou_black);
    color: var(--tou_black);
    padding: 0.25rem 0.75rem;
    font-size: 1.2rem;
    font-weight: bolder;
}

ul.f3-widget-paginator li a:hover {
    text-decoration: none;
    background-color: var(--tou_orange);
    color: var(--tou_white);
}

table.tx_sparqltoucan_paginator_table tr th {
    background-color: var(--tou_darkblue);
    color: var(--tou_purewhite);
    padding: 0.5rem;
}

table.tx_sparqltoucan_paginator_table tr td {
    padding: 0.1rem 0.75rem;
    font-size: 1rem;
}

table.tx_sparqltoucan_paginator_table tr.tx_sparqltoucan_table_temp td {
    font-style: italic;
    color: var(--tou_darkgrey);
}

table.tx_sparqltoucan_paginator_table tr:hover, table.tx_sparqltoucan_paginator_table tr.tx_sparqltoucan_table_temp:hover td {
    background: var(--tou_blue);
    color: var(--tou_purewhite);
}