:root {
    --tou_white: #f6f6f6;
    --tou_black: #0F1118;
    --tou_orange: #F88A19;
    --tou_red: #DA0000;
    --tou_blue: #0D2EA7;
    --tou_lightyellow: #EFF14F;
    --tou_purplered: #C93A82;
    --tou_lightgrey: #d4d3d3;
}

.tx-sparql-toucan {
    height:100%;
    overflow-y: scroll;
    margin-left: 1em;
}

table.tx_sparqltoucan {
    font-family: 'Noto Sans', sans-serif, Verdana;
}
table.tx_sparqltoucan th {
    padding: 0em 1em;
    border-bottom: 1px solid var(--tou_lightyellow);
}
table.tx_sparqltoucan td:not(:last-child) {
    border-right: 1px solid var(--tou_lightgrey);
    padding: 0.25em 0.25em;
}

html {
    overflow: auto;
}
body {
    height: auto;
    min-height: 100%;
    overflow: visible;
    background-color: var(--tou_white);
    color: var(--tou_black);
}
a {
    color: var(--tou_blue);
}
a:hover {
    color: var(--tou_orange)
}
h1, h2 {
    color: var(--tou_red);
}