<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
{namespace core = TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Backend" />

<f:section name="content">

    <f:render partial="Backend/MenuBar" arguments="{activeTab : 'collection'}"/>

    <f:flashMessages />

    <f:render partial="FormErrors" />

    <div class="tab-pane active" role="tabpanel">
        <div class="panel panel-tab">
            <div class="panel-body">

                <h2 class="touCanDo"><f:translate key="tx_sparqltoucan_bck_overview_title" /></h2>

                <f:flashMessages />

                <table  class="table table-striped table-hover" >
                    <thead>
                    <tr>
                        <th><f:translate key="tx_sparqltoucan_domain_model_collection.name" /></th>
                        <th><f:translate key="tx_sparqltoucan_domain_model_collection.layout" /></th>
                        <th><f:translate key="tx_sparqltoucan_domain_model_collection.style_override" /></th>
                        <th span="3">Actions </th>
                    </tr>
                    </thead>

                    <tbody>
                    <f:for each="{collections}" as="collection">
                        <tr>
                            <td><f:link.action action="editCollection" arguments="{collection : collection}"> {collection.name}</f:link.action></td>
                            <td><f:link.action action="editCollection" arguments="{collection : collection}"> {collection.layout}</f:link.action></td>
                            <td><f:link.action action="editCollection" arguments="{collection : collection}"> {collection.styleOverride}</f:link.action></td>
                            <td class="col-control">
                                <div class="btn-group" role="group">
                                    <f:link.action action="updateCollectionLanguagepoints" arguments="{collection : collection}" class="btn btn-default">Update Collection Languagepoints</f:link.action>
                                    <f:link.action action="editCollectionDynamicLayout" arguments="{collection : collection}" class="btn btn-primary">Layouting</f:link.action>
                                    <f:link.action action="deleteCollection" arguments="{collection : collection}" class="btn btn-danger"><core:icon identifier="actions-edit-delete" /></f:link.action>
                                </div>
                            </td>
                        </tr>
                    </f:for>
                    </tbody>
                </table>
                <f:link.action action="newCollection" class="btn btn-default">New Collection</f:link.action>
    </div>
        </div>
            </div>

</f:section>
</html>