<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Backend" />

<f:section name="content">

    <script src="{f:uri.resource(path: 'JavaScript/tou_layouter.js')}"></script>
    <link rel="stylesheet" href="{f:uri.resource(path: 'Css/tou_layouter.css')}">

    <f:render partial="Backend/MenuBar"  arguments="{activeTab : 'collection'}"/>

    <f:flashMessages />

    <f:render partial="FormErrors" />

    <h1>i18n:Layouting {collection.name}</h1>


    <f:form action="editCollectionRearrange" name="editCollectionRearrange" id="tou_form">
        <f:form.hidden property="collection" value="{collection}"/>
        <div id="tou_layouter">
            <h2>Items in Grid</h2>

            <div class="tou_assembly" id="tou_assembly">
                <div class="tou_spaceblock">
                    <div class="tou_bench" id="tou_bench">
                        <f:for each="{chainedEntries}" as="entry">
                            <div style="grid-area: {entry.gridArea}">
                                {entry.tempValue}
                                <f:if condition="{entry.datapointId} != 0">
                                    <f:then><em>{entry.datapointId.name}</em></f:then>
                                    <f:else><em>[static]</em></f:else> <!--TODO: i18n-->
                                </f:if>

                                <f:form.hidden property="{entry.uid}" value="{entry.gridArea}"/>
                            </div>
                        </f:for>
                    </div>
                </div>
            </div>

            <h2>Items without Grid</h2>
            <!--Area without grid interaction-->
            <div class="tou_warehouse" id="tou_warehouse">
                <f:for each="{freeEntries}" as="entry">
                    <div class="tou_containment">{entry.tempValue}
                        <f:if condition="{entry.datapointId} != 0">
                            <f:then><em>{entry.datapointId.name}</em></f:then>
                            <f:else><em>[static]</em></f:else> <!--TODO: i18n-->
                        </f:if>
                        <f:form.hidden property="{entry.uid}" value="{entry.gridArea}"/>
                    </div>
                </f:for>
            </div>
            <f:form.submit value="Save"/>
        </div>


    </f:form>

    <f:debug>{_all}</f:debug>

    <f:link.action action="editCollectionDynamicLayout" arguments="{collection:collection}" class="tx_sparqltoucan_interactive_button">Debug F5</f:link.action>

</f:section>
</html>