<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Backend" />

<f:section name="content">

    <f:render partial="Backend/MenuBar" />

    <f:flashMessages />

    <f:render partial="FormErrors" />

    <div class="tx_sparqltoucan_tworowgrid">
        <div style="grid-area: 1 / 1 / 2 / 2">
            <f:form action="editTextpoint" name="textpoint" object="{textpoint}" >
                <f:render partial="Textpoint/FormFields" arguments="{textpoint:textpoint}" />
                <f:form.submit value="{f:translate(key:'tx_sparql_toucan_general.save')}" name="btn_save"/>
                <f:form.submit value="{f:translate(key:'tx_sparql_toucan_general.saveedit')}" name="btn_saveedit"/>
            </f:form>
        </div>
        <div style="grid-area: 1 / 2 / 2 / 3">
            <table class="tx_sparqltoucan_paginator_table">
                <tr>
                    <th>UID</th>
                    <th><f:translate key="tx_sparql_toucan_general.language"/></th>
                    <th><f:translate key="tx_sparql_toucan_general.content"/></th>
                    <th><f:translate key="tx_sparql_toucan_general.control"/></th>
                </tr>
                <f:for each="{languagepoints}" as="lang">
                    <!--
                    <tr>
                        <td>{lang.uid}</td>
                        <td>{lang.language}</td>
                        <td>{lang.content}</td>
                        <td><a href="#"><f:translate key="tx_sparql_toucan_general.edit"/></a></td>
                    </tr>-->
                    <tr class="tx_sparqltoucan_hiddentr" id="lang_{lang.uid}">
                        <f:form action="updateLanguagepoint" name="languagepoint" object="{lang}">
                            <td>{lang.uid}</td>
                            <td><f:form.textfield property="language" value="{lang.language}" size="5"/></td>
                            <td><f:form.textfield property="content" value="{lang.content}" size="40"/></td>
                            <td><f:form.submit value="{f:translate(key:'tx_sparql_toucan_general.save')}"/></td>
                            <td>
                                <f:link.action action="deleteLanguagepoint" arguments="{oldLanguagepoint : lang}" class="tx_sparqltoucan_fakebutton">
                                    <f:translate key="tx_sparql_toucan_general.delete"/>
                                </f:link.action>
                            </td>
                        </f:form>
                    </tr>
                </f:for>
                <tr class="tx_sparqltoucan_important_tr">
                    <th colspan="4"><f:translate key="tx_sparql_toucan_general.create"/></th>
                </tr>
                <tr>
                    <f:form action="createLanguagepoint" name="newLanguagepoint" object="{newLanguagepoint}">
                        <f:form.hidden property="textpoint" value="{textpoint.uid}"/>
                        <td>New</td><!-- TODO: i18n-->
                        <td><f:form.textfield property="language" placeholder="{f:translate(key:'tx_sparql_toucan_general.language')}" size="5"/></td>
                        <td><f:form.textfield property="content" placeholder="{f:translate(key:'tx_sparql_toucan_general.content')}" size="40"/></td>

                        <td><f:form.submit value="{f:translate(key:'tx_sparql_toucan_general.create')}"/></td>
                    </f:form>
                </tr>
            </table>
        </div>
    </div>


    <f:debug>{_all}</f:debug>

</f:section>
</html>