<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Backend" />

<f:section name="content">
    <h1>Explore choosen Sparql Endpoint</h1>
    <f:form action="explore"  name="postcontent" controller="Backend" enctype="multipart/form-data">
        <div class="tx_sparqltoucan_central">
            <table class="tx_sparqltoucan" align="center">
                <tr>
                    <td><label>Endpoints:</label></td>
                    <td><f:form.select property="sourceId" options="{sources}" optionValueField="uid" optionLabelField="name" value="{form.sourceId}"/></td>
                </tr>
                <tr>
                    <td><label>Subject</label></td>
                    <td><f:form.textfield property="subject" value="{form.subject}" size="90"/></td>
                </tr>
                <tr>
                    <td><label>Predicate</label></td>
                    <td><f:form.textfield property="predicate" value="{form.predicate}" size="90"/></td>
                </tr>
                <tr>
                    <td><label>Raw Query</label></td>
                    <td><f:form.textarea property="query" rows="4" cols="90">{form.query}</f:form.textarea></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><f:form.submit value="Explore" /></td>
                </tr>
            </table>
        </div>
    </f:form>

    <f:form action="newComplexCollection"  name="seedDatapoint" object="{seedDatapoint}">
        <f:form.hidden property="name" value=""/>
        <f:form.hidden property="subject" value="{form.subject}"/>
        <f:form.hidden property="predicate" value=""/>
        <f:form.hidden property="sourceId" value="{form.sourceId}"/>
        <f:form.submit value="Collection Creation" />
    </f:form>

    <table class="tx_sparqltoucan">
        <tr>
            <th>Predicate</th>
            <th>Object</th>
            <th>Extra Information</th>
            <th>New Datapoint</th>
        </tr>

        <f:for each="{explorer}" as="row">
            <tr>
                <td>{row.pre.display -> f:format.raw()}</td>
                <td>
                    <f:if condition="{row.form}=='uri'>">
                        <f:then>
                            <f:link.action action="explore" arguments="{postcontent: {sourceId: form.sourceId, subject: row.obj.value}}">{row.obj.label}</f:link.action>
                        </f:then>
                        <f:else>
                            {row.obj.value -> f:format.raw()}
                        </f:else>
                    </f:if>
                </td>
                <f:if condition="<tou:isarray var='{row.extra}'/> ==1">
                    <f:then>
                        <td>
                            <f:for each="{row.extra}" as="line">
                                {line} </br>
                            </f:for>
                        </td>
                    </f:then>
                    <f:else>
                        <td>{row.extra -> f:format.crop(maxCharacters: 100)}</td>
                    </f:else>
                </f:if>
                <td>
                    <f:if condition="{row.form} != 'uri'">
                        <f:form action="newDatapoint"  name="newDatapoint" object="{newDatapoint}">
                            <f:form.hidden property="name" value=""/>
                            <f:form.hidden property="subject" value="{form.subject}"/>
                            <f:form.hidden property="predicate" value="{row.pre.value}"/>
                            <f:form.hidden property="sourceId" value="{form.sourceId}"/>
                            <f:form.submit value="Convert to Datapoint" />
                        </f:form>
                    </f:if>
                </td>
            </tr>
        </f:for>
    </table>
    <f:debug>{debug}</f:debug>
    <f:debug>{explorer}</f:debug>
</f:section>
</html>
