<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Backend" />

<f:section name="content">

    <f:render partial="Backend/MenuBar" arguments="{activeTab : 'datapoint'}"/>

    <h1><f:translate key="tx_sparql_toucan_h1.newdatapoint" /></h1>

    <f:flashMessages />

    <f:render partial="FormErrors" />
    <f:form action="createDatapoint"  name="newDatapoint" object="{newDatapoint}">
        <f:render partial="Datapoint/FormFields" arguments="{sources:sources, newDatapoint:datapoint}"/>
        <f:form.submit value="{f:translate(key:'tx_sparql_toucan_general.createnew')}" name="newMainmenu"/>
        <f:form.submit value="{f:translate(key:'tx_sparql_toucan_general.createback')}" name="newExplorer"/>
        <f:form.submit additionalAttributes="{test:1}" value="Test Connection" />
    </f:form>
    <f:debug>{_all}</f:debug>
</f:section>
</html>