<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:layout name="Backend" />

  <f:section name="content">

    <f:render partial="Backend/MenuBar" />

    <h1><f:translate key="tx_sparql_toucan_h1.newsource" /></h1>

    <f:flashMessages />

    <f:render partial="FormErrors" />

    <f:form action="createSource"  name="newSource" object="{newSource}">
    <f:render partial="Source/FormFields" />
    <f:form.submit value="Create new" />
    </f:form>
  </f:section>
</html>