<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
{namespace core = TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Backend" />

<f:section name="content">

    <f:render partial="Backend/MenuBar" arguments="{activeTab : 'overview'}"/>

    <div class="tab-pane active" role="tabpanel">
        <div class="panel panel-tab">
            <div class="panel-body">

                <f:flashMessages />

                <f:be.infobox title="{f:translate(key:'tx_sparql_toucan_infoboxtitle_introduction')}" state="-2" iconName="info">
                    <f:translate key="tx_sparql_toucan_longtexts_introduction"/>
                </f:be.infobox>

                <h2><f:translate key="tx_sparql_toucan_sparqlbackend_explore_title" /></h2>
                <f:form action="overview" name="postcontent" controller="Backend" enctype="multipart/form-data">
                    <div class="tx_sparqltoucan_central">
                        <table class="tx_sparqltoucan">
                            <tr>
                                <td><label class="t3js-formengine-label"><f:translate key="tx_sparql_toucan_general.endpoints" />:</label></td>
                                <td><f:form.select property="sourceId" options="{sources}" optionValueField="uid" optionLabelField="name" value="{form.sourceId}" class="form-control"/></td>
                            </tr>
                            <tr>
                                <td><label class="t3js-formengine-label"><f:translate key="tx_sparqltoucan_domain_model_datapoint.subject" />:</label></td>
                                <td><f:form.textfield property="subject" value="{form.subject}" size="90" class="form-control"/></td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center"><f:form.submit value="{f:translate(key:'tx_sparql_toucan_general.explore')}" class="btn btn-default"/></td>
                            </tr>
                        </table>
                    </div>
                </f:form>

                <f:if condition="{trueExplore}">

                    <f:form action="newComplexCollection"  name="seedDatapoint" object="{seedDatapoint}">
                        <f:form.hidden property="name" value=""/>
                        <f:form.hidden property="subject" value="{form.subject}"/>
                        <f:form.hidden property="predicate" value=""/>
                        <f:form.hidden property="sourceId" value="{form.sourceId}"/>
                        <f:form.submit value="Collection Creation" class="btn btn-default"/>
                    </f:form>

                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th><f:translate key="tx_sparqltoucan_domain_model_datapoint.predicate" /></th>
                            <th><f:translate key="tx_sparqltoucan_domain_model_datapoint.object" /></th>
                            <th><f:translate key="tx_sparql_toucan_general.extrainformation" /></th>
                            <th><f:translate key="tx_sparql_toucan_general.newdatapoint" /></th>
                        </tr>
                        </thead>
                        <tbody>
                        <f:for each="{trueExplore}" as="predicate">
                            <tr>
                                <td rowspan="{predicate.rowspan}">
                                    <f:link.action action="explore" arguments="{postcontent: {sourceId: form.sourceId, subject: predicate.value}}">{predicate.label}</f:link.action></td>
                            <f:for each="{predicate.objects}" as="obj" iteration="iterator">
                                        <f:if condition="{iterator.index} > 0"></tr><tr></f:if>
                                <td>
                                <f:if condition="{obj.type} == 'uri'">
                                    <f:then>
                                        <f:link.action action="explore" arguments="{postcontent: {sourceId: form.sourceId, subject: obj.value}}">{obj.label}</f:link.action>
                                    </f:then>
                                    <f:else>
                                        {obj.label}
                                    </f:else>
                                </f:if>
                                </td>
                                <td>{obj.adda}</td>
                                <td>
                                    <f:if condition="{obj.type} == 'uri'">
                                        <f:then>
                                            <f:link.action action="explore" arguments="{postcontent: {sourceId: form.sourceId, subject: obj.value}}" class="btn btn-default">Explore object</f:link.action>
                                        </f:then>
                                        <f:else>
                                            <f:form action="newDatapoint"  name="newDatapoint" object="{newDatapoint}">
                                                <f:form.hidden property="name" value=""/>
                                                <f:form.hidden property="subject" value="{form.subject}"/>
                                                <f:form.hidden property="predicate" value="{predicate.value}"/>
                                                <f:form.hidden property="sourceId" value="{form.sourceId}"/>
                                                <f:form.submit value="Convert to Datapoint" class="btn btn-default"/>
                                            </f:form>
                                        </f:else>
                                    </f:if>
                                </td>
                            </f:for>
                            </tr>
                        </f:for>
                        </tbody>
                    </table>
                </f:if>


            </div>
        </div>
    </div>

        <p><em>Only real with capitalised nouns in english</em></p>
        <f:link.action action="testSomething" class="btn btn-warning">Do they Debug Case of the Day.</f:link.action>

        <f:debug>{_all}</f:debug>

</f:section>
</html>