<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Backend" />

<f:section name="content">

    <f:render partial="Backend/MenuBar"  arguments="{activeTab : 'datapoint'}"/>

    <h1>Update Data</h1>

    <f:flashMessages />

    <table>
        <tr>
            <th>UID</th>
            <th>DP Name</th>
            <th>Source Name</th>
            <th>Language</th>
            <th>Content</th>
        </tr>
        <f:for each="{languagepoints}" as="entry">
            <tr>
                <td>{entry.uid}</td>
                <td>{entry.datapoint_id.name}</td>
                <td>{entry.datapoint_id.source_id.name}</td>
                <td>{entry.language}</td>
                <td>{entry.content}</td>
            </tr>
        </f:for>
    </table>
    <f:debug>{_all}</f:debug>
</f:section>
</html>