<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <h1>Update Data</h1>

    <f:flashMessages />

    <table>
        <tr>

        </tr>
        <f:for each="{datapoints}" as="entry">
            <tr>
                <td>{entry.uid}</td>
                <td>{entry.name}</td>
                <td>{entry.subject}</td>
                <td>{entry.predicate}</td>
                <td>{entry.cachedValue}</td>
            </tr>
        </f:for>
    </table>
    <f:debug>{debug}</f:debug>
</f:section>
</html>